<!DOCTYPE html>
<html ng-app="TaskWall">

<head>
    <title>TaskWall</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/generic.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
    <script type="text/javascript" src="javascripts/angular-1.2.16.js"></script>
    <script type="text/javascript" src="application_controller.js"></script>
    <script type="text/javascript" src="components/login/user_service.js"></script>
    <script type="text/javascript" src="components/tickets/tickets_service.js"></script>
    <script type="text/javascript" src="components/login/login_controller.js"></script>
    <script type="text/javascript" src="components/tickets/tickets_controller.js"></script>
    <script type="text/javascript" src="taskwall.js"></script>
</head>

<body ng-controller="ApplicationController">
    <div id="navmenu">
        <ul>
            <li ng-if="user.loggedIn">Logged in as {{user.username}}</li>
            <li ng-if="user.loggedIn"><a ng-click="user.logout()">Log out</a></li>
        </ul>
    </div>

    <ng-include src="'components/login/login_form.html'"></ng-include>

    <ng-include src="'components/tickets/ticket_wall.html'"></ng-include>
</body>

</html>
