%table.ticket-comments
  %tr
    %th.timestamp Time
    %th.user User
    %th.comment Comment
  - comments.each do |comment|
    %tr
      %td.timestamp= format_date(comment.unfuddle_created_at)
      %td.user= comment.user ? comment.user.name : ""
      %td.comment= textile comment.body
