html, body {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0; }

table td {
  font-family: Helvetica, sans-serif;
  font-weight: 300; }

#navmenu {
  background-color: black;
  font-size: 12pt;
  height: 40px;
  width: 100%; }
  #navmenu ul {
    list-style: none;
    margin: 0;
    padding: 0 10px; }
    #navmenu ul li {
      display: inline;
      color: #cccccc;
      height: 40px;
      line-height: 40px;
      margin: auto 5px; }
      #navmenu ul li a {
        color: white;
        margin-right: 10px;
        text-decoration: none; }
      #navmenu ul li a.login {
        color: #ffffdd; }
      #navmenu ul li a.logout {
        color: #ffdddd; }
      #navmenu ul li a:hover {
        text-decoration: underline; }

#content {
  font-size: 12pt;
  position: absolute;
  top: 40px;
  bottom: 0px;
  width: 100%; }

#instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 400px;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center; }

#loading, #error {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  width: 400px;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
  font-size: 24pt; }

#loading {
  background-image: url("../images/loading.gif");
  background-position: center center;
  background-repeat: no-repeat; }
  #loading .message {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 200px; }

#error {
  color: red; }

#flash {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -50px;
  height: 50px;
  padding: 0 25px;
  background-color: black;
  opacity: 0.5;
  text-align: center; }
  #flash .dismiss {
    float: right;
    color: white;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer; }
  #flash .notice {
    color: white;
    font-size: 20px;
    line-height: 50px;
    opacity: 1; }

.off-screen {
  position: absolute;
  top: -1px;
  left: -1px;
  height: 1px;
  width: 1px; }

.field {
  margin-bottom: 5px; }

#unfuddle-login {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 3px solid black;
  background-color: white;
  z-index: 1000; }
  @media all and (min-width: 1600px) {
    #unfuddle-login {
      height: 900px;
      width: 1200px;
      margin-top: -450px;
      margin-left: -600px; } }
  @media all and (min-width: 1200px) and (max-width: 1599px) {
    #unfuddle-login {
      height: 768px;
      width: 1024px;
      margin-top: -384px;
      margin-left: -512px; } }
  @media all and (max-width: 1199px) {
    #unfuddle-login {
      height: 600px;
      width: 800px;
      margin-top: -300px;
      margin-left: -400px; } }
  #unfuddle-login .heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 32px;
    padding: 10px; }
  #unfuddle-login .content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    overflow: auto; }
    #unfuddle-login .content form {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 300px;
      width: 50%;
      margin-top: -150px;
      margin-left: -25%;
      padding: 0 25px;
      text-align: left; }
      #unfuddle-login .content form .text, #unfuddle-login .content form .button {
        font-size: 24px; }
      #unfuddle-login .content form label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px; }
      #unfuddle-login .content form input {
        display: block;
        margin-bottom: 10px;
        padding: 5px; }
      #unfuddle-login .content form input.text {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%; }
      #unfuddle-login .content form .skip-action {
        text-align: right; }

.tickets-search {
  font-size: 32px;
  margin: 10px;
  width: 600px; }

a.hide-non-matching-cards-link {
  text-decoration: none; }

a.hide-non-matching-cards-link:hover {
  text-decoration: underline; }

.status-selectors, .resolution-filters {
  margin: 10px; }
  .status-selectors .label, .resolution-filters .label {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px; }
  .status-selectors .status-selector, .status-selectors .resolution-filter, .resolution-filters .status-selector, .resolution-filters .resolution-filter {
    display: inline-block;
    border: 1px solid white;
    margin-right: 10px;
    padding: 5px;
    cursor: pointer; }
  .status-selectors .status-selector:hover, .status-selectors .resolution-filter:hover, .resolution-filters .status-selector:hover, .resolution-filters .resolution-filter:hover {
    border-bottom: 1px solid black; }

.status-selectors .selected .icon {
  background-position: -288px 0; }

.resolution-filters .selected .icon {
  background-position: -312px 0; }

.ticket-wall {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; }
  .ticket-wall th, .ticket-wall td {
    padding: 10px;
    text-align: left;
    vertical-align: top; }
  .ticket-wall .header-row th {
    border-top: none; }
  .ticket-wall .content-row th, .ticket-wall .content-row td {
    border-top: 1px solid black; }

.week-column {
  width: 120px; }

.tickets-column {
  min-width: 400px; }

.ticket-card {
  float: left;
  border: 2px solid white;
  height: 120px;
  width: 120px;
  margin: 0 10px 10px 0;
  padding: 5px;
  overflow: hidden;
  word-wrap: break-word;
  cursor: pointer; }
  .ticket-card .id {
    display: none; }
  .ticket-card .number {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px; }
  .ticket-card .summary {
    font-size: 12px;
    margin: 5px; }

.ticket-card:hover {
  background-color: #ffffbb; }
  .ticket-card:hover .number {
    background-color: #ffffdd; }

.status-open {
  border: 2px solid #888888;
  background-color: white; }
  .status-open .number {
    background-color: #dddddd; }

.status-reopened {
  background-color: #ffbbbb; }
  .status-reopened .number {
    background-color: #ffdddd; }

.status-reassigned {
  border: 2px solid white;
  background-color: #ffddbb; }
  .status-reassigned .number {
    background-color: #ffbb99; }

.status-accepted {
  border: 2px solid white;
  background-color: #bbffbb; }
  .status-accepted .number {
    background-color: #ddffdd; }

.status-closed, .status-resolved {
  background-color: #dddddd; }
  .status-closed .number, .status-resolved .number {
    background-color: #bbbbbb; }

.status-closed {
  border: 2px solid black; }

.status-resolved {
  border: 2px solid white; }

.highlighted {
  border: 2px solid #bbffff;
  background-color: #bbffff; }
  .highlighted .number {
    background-color: #ddffff; }

.deselected, .filtered {
  display: none; }

.icons {
  float: right; }

.has-updates {
  background-position: -264px 0; }

.has-comments {
  background-position: -240px -120px; }

.hide-non-matching-cards .ticket-card {
  display: none; }
.hide-non-matching-cards .highlighted {
  display: block; }

.ticket-window {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 3px solid black;
  background-color: white;
  z-index: 1000;
  font-size: 16px; }
  @media all and (min-width: 1600px) {
    .ticket-window {
      height: 900px;
      width: 1200px;
      margin-top: -450px;
      margin-left: -600px; } }
  @media all and (min-width: 1200px) and (max-width: 1599px) {
    .ticket-window {
      height: 768px;
      width: 1024px;
      margin-top: -384px;
      margin-left: -512px; } }
  @media all and (max-width: 1199px) {
    .ticket-window {
      height: 600px;
      width: 800px;
      margin-top: -300px;
      margin-left: -400px; } }
  .ticket-window .heading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 32px;
    padding: 10px; }
    .ticket-window .heading .created_at, .ticket-window .heading .updated_at {
      display: inline-block;
      font-size: 16px;
      color: #888888; }
    .ticket-window .heading .close {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 16px;
      line-height: 20px; }
      .ticket-window .heading .close a {
        color: white;
        text-decoration: none; }
      .ticket-window .heading .close a:hover {
        text-decoration: underline; }
  .ticket-window .ticket-glance {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    text-align: right; }
    .ticket-window .ticket-glance span.value {
      font-weight: bold; }
  .ticket-window .content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    overflow: auto; }
  .ticket-window .section-selectors {
    margin: 10px 0; }
    .ticket-window .section-selectors .label {
      display: inline-block;
      font-weight: bold;
      margin-right: 10px; }
    .ticket-window .section-selectors .section-selector {
      display: inline-block;
      border: 1px solid white;
      margin-right: 10px;
      cursor: pointer; }
    .ticket-window .section-selectors .section-selector:hover {
      border-bottom: 1px solid #888888; }
    .ticket-window .section-selectors .selected {
      border-bottom: 1px solid black; }
  .ticket-window table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%; }
    .ticket-window table tr:nth-child(odd) {
      background-color: #dddddd; }
    .ticket-window table th, .ticket-window table td {
      padding: 5px 10px;
      text-align: left;
      vertical-align: top; }
    .ticket-window table th.timestamp, .ticket-window table td.timestamp {
      width: 120px; }
  .ticket-window .description {
    margin-top: 15px; }
  .ticket-window .actions {
    font-weight: normal;
    margin-top: 15px; }
    .ticket-window .actions textarea {
      font-size: 16px;
      height: 200px;
      width: 500px;
      margin-bottom: 15px; }
  .ticket-window form {
    background-color: #dddddd;
    padding: 10px; }
    .ticket-window form label {
      display: inline-block;
      width: 100px; }
