%head
  %title Tickets Resolved by Week
  %link(type="text/css" rel="stylesheet" href="/stylesheets/tickets_resolved_by_week.css")
  %script(type="text/javascript" src="/jquery-1.7.2.js")
  %script(type="text/javascript" src="/highcharts-2.2.5.js")
  %script(type="text/javascript" src="/tickets_resolved_by_week.js")

%body
  = yield
